@import "../main.scss";

.PasteContainer {
    @include size(95%, 80%);
    grid-area: pastes;
    align-self: flex-end;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    background: $blue;
    border-radius: 3px;
}
