@import "../main.scss";

.Search {
    @include size(100%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    #searchField {
        @include size(80%, 50%);
        font-size: 1.5rem;
        border: none;
        outline: none;
    }
}
