@import '../main.scss';

.ChartContainer{
    grid-area: charts;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 3%;
    background: $blue;
}